div.now-playing {
    position: fixed;
    z-index: 999;
    background: white;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 44px;
    h3, p {
        margin: 0;
    }
    div.details {
        margin-left: 10px;
        margin-right: 10px;
    }
}